{% extends 'admin_base.html' %}
{% block title %}{% if form.instance.pk %}Regel bearbeiten{% else %}Neue Regel{% endif %}{% endblock %}
{% block admin_content %}
<h1 class="text-2xl font-semibold mb-4">{% if form.instance.pk %}Regel bearbeiten{% else %}Neue Regel{% endif %}</h1>
<form method="post" class="space-y-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.regel_name.label_tag }}<br>
        {{ form.regel_name }}{{ form.regel_name.errors }}
    </div>
    <div>
        {{ form.erkennungs_phrase.label_tag }}<br>
        {{ form.erkennungs_phrase }}{{ form.erkennungs_phrase.errors }}
    </div>
    <div>
        {{ form.regel_anwendungsbereich.label_tag }}<br>
        {{ form.regel_anwendungsbereich }}{{ form.regel_anwendungsbereich.errors }}
    </div>
    <div>
        {{ form.actions_json.label_tag }}<br>
        {{ form.actions_json }}{{ form.actions_json.errors }}
    </div>
    <div>
        {{ form.prioritaet.label_tag }}<br>
        {{ form.prioritaet }}{{ form.prioritaet.errors }}
    </div>
    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Speichern</button>
</form>

{% endblock %}
