{% extends 'base.html' %}
{% block title %}Funktionen importieren{% endblock %}
{% block content %}
<h1 class="text-2xl font-semibold mb-4">Funktionen importieren</h1>
<form method="post" enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.json_file.label_tag }}<br>
        {{ form.json_file }}
        {{ form.json_file.errors }}
    </div>
    <div>
        <label class="mr-2">{{ form.clear_first }} Datenbank vorher leeren</label>
    </div>
    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Importieren</button>
</form>
{% endblock %}
