{{ formset.management_form }}
{{ formset.non_form_errors }}
<table class="min-w-full mb-4">
    <thead>
        <tr class="border-b text-left">
            <th class="py-2">Name</th>
            <th class="py-2">Phrase</th>
            <th class="py-2">Anwendungsbereich</th>
            <th class="py-2">Aktionen</th>
            <th class="py-2 text-center">Entfernen</th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
            {% include 'partials/_response_rule_row_simple.html' with form=form %}
        {% empty %}
        <tr><td colspan="6">Keine Regeln</td></tr>
        {% endfor %}
    </tbody>
</table>
