<tr class="border-b text-sm">
    {{ form.id }}
    {{ form.ORDER }}
    {{ form.non_field_errors }}
    <td class="py-1">
        {{ form.regel_name }}
        {{ form.regel_name.errors }}
    </td>
    <td class="py-1">
        {{ form.erkennungs_phrase }}
        {{ form.erkennungs_phrase.errors }}
    </td>
    <td class="py-1">
        {{ form.regel_anwendungsbereich }}
        {{ form.regel_anwendungsbereich.errors }}
    </td>
    <td class="py-1">
        {% with af=action_formset %}
            {{ af.management_form }}
            {% for aform in af %}
                <div class="flex items-center space-x-2">
                    {{ aform.field }} {{ aform.value }}
                </div>
            {% endfor %}
            {{ af.non_form_errors }}
            <button type="submit" name="action" value="add_action_row" class="px-2 py-1 bg-gray-300 rounded">+</button>
            <input type="hidden" name="action_prefix" value="{{ af.prefix }}">
        {% endwith %}
    </td>
    <td class="py-1 font-mono text-xs whitespace-pre">
        {{ raw_actions|raw_item:form.instance.pk|tojson }}
    </td>
    <td class="py-1 text-center">{{ form.DELETE }}</td>
</tr>
