{{ formset.management_form }}
<table class="min-w-full mb-4">
    <thead>
        <tr class="border-b text-left bg-background dark:bg-background-dark">
            <th class="bg-background dark:bg-background-dark"></th>
            <th class="py-2 bg-background dark:bg-background-dark">Name</th>
            <th class="py-2 bg-background dark:bg-background-dark">Phrase</th>
            <th class="py-2 bg-background dark:bg-background-dark">Anwendungsbereich</th>
            <th class="py-2 bg-background dark:bg-background-dark">Aktionen</th>
            <th class="py-2 text-center bg-background dark:bg-background-dark">Entfernen</th>
        </tr>
    </thead>
    <tbody id="rule-rows">
        {% for form in formset %}
            {% include 'partials/_response_rule_row.html' with form=form %}
        {% empty %}
        <tr><td colspan="6">Keine Regeln</td></tr>
        {% endfor %}
    </tbody>
</table>
