<tr class="border-b text-sm">
    {{ form.id }}
    {{ form.ORDER }}
    <td class="py-1 drag-handle cursor-move"><i class="fa fa-bars"></i></td>
    <td class="py-1">{{ form.regel_name }}</td>
    <td class="py-1">{{ form.erkennungs_phrase }}</td>
    <td class="py-1">{{ form.ziel_feld }}</td>
    <td class="py-1">{{ form.regel_anwendungsbereich }}</td>
    <td class="py-1 text-center">{{ form.wert }}</td>
    <td class="py-1 text-center">
        {% if form.instance.pk %}
        <button type="button" hx-delete="{% url 'anlage2_rule_delete' form.instance.pk %}" hx-target="closest tr" hx-swap="delete" hx-on:afterRequest="updateTotals()" class="text-red-600">
            <i class="fa fa-trash"></i>
        </button>
        {% else %}
        <button type="button" onclick="this.closest('tr').remove();updateTotals();" class="text-red-600"><i class="fa fa-trash"></i></button>
        {% endif %}
    </td>
</tr>
