{% for group in groups %}
{% with group_counter=forloop.counter|stringformat:'s' %}
{% with group_id=prefix|add:group_counter %}
<li class="mb-2">
    <button class="sidebar-accordion-btn" data-accordion-target="{{ group_id }}">
        <span>{{ group.name }}</span>
        <i class="fa-solid fa-chevron-down transition-transform"></i>
    </button>
    <ul id="{{ group_id }}" class="mt-1 pl-2 space-y-1 hidden">
        {% if group.tiles %}
            {% for tile in group.tiles %}
            <li>
                <a href="{% url tile.url_name %}" class="block px-4 py-2 rounded hover:bg-accent hover:text-text-light {% if request.resolver_match.url_name == tile.url_name %}active-nav-link{% endif %}">
                    {{ tile.name }}
                </a>
            </li>
            {% endfor %}
        {% endif %}
        {% if group.groups %}
        {% with new_prefix=group_id|add:'-' %}
            {% include 'partials/_sidebar_group.html' with groups=group.groups prefix=new_prefix %}
        {% endwith %}
        {% endif %}
    </ul>
</li>
{% endwith %}
{% endwith %}
{% endfor %}
