{% for group in groups %}
{% with group_counter=forloop.counter|stringformat:'s' %}
{% with group_id=prefix|add:group_counter %}
<div class="mb-2">
    <button class="sidebar-accordion-btn" data-accordion-target="{{ group_id }}">
        <span>{{ group.name }}</span>
        <i class="fa-solid fa-chevron-down transition-transform"></i>
    </button>
    <div id="{{ group_id }}" class="mt-1 pl-2 space-y-1 hidden">
        {% if group.tiles %}
        <ul class="space-y-1">
            {% for tile in group.tiles %}
            <li>
                {% include 'partials/_nav_link.html' with tile=tile extra_classes='block' %}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if group.groups %}
        {% with new_prefix=group_id|add:'-' %}
            {% include 'partials/_sidebar_group.html' with groups=group.groups prefix=new_prefix %}
        {% endwith %}
        {% endif %}
    </div>
</div>
{% endwith %}
{% endwith %}
{% endfor %}
