{% load recording_extras %}
<div id="{{ id_prefix }}-wrapper" class="markdown-editor space-y-2">
  {% if label %}
  <label for="{{ id_prefix }}-textarea" class="font-semibold">{{ label }}</label>
  {% endif %}
  <div id="{{ id_prefix }}-view" class="prose max-w-none bg-gray-100 p-2 rounded">{{ text|markdownify }}</div>
    <textarea id="{{ id_prefix }}-textarea" name="{{ name }}" rows="10" class="hidden w-full border-gray-300 dark:border-gray-600 bg-background dark:bg-background-dark text-gray-900 dark:text-gray-100 rounded p-2 focus:border-primary dark:focus:border-primary focus:ring-primary dark:focus:ring-primary focus:ring-offset-2 dark:focus:ring-offset-gray-800">{{ text }}</textarea>
  <div class="flex space-x-2">
    {% include 'partials/_button.html' with type='button' id=id_prefix|add:'-edit' label='Bearbeiten' variant='primary' %}
    {% include 'partials/_button.html' with type='submit' id=id_prefix|add:'-save' label='Speichern' variant='primary' classes='hidden' %}
    {% include 'partials/_button.html' with type='button' id=id_prefix|add:'-cancel' label='Abbrechen' variant='secondary' classes='hidden' %}
  </div>
</div>
