<details class="border rounded" {% if group.function.has_discrepancy %}open{% endif %}>
  <summary class="p-2 cursor-pointer {% if group.function.has_discrepancy %}bg-red-100{% else %}bg-gray-100{% endif %}">
    {{ group.function.name }}
    {% if group.subrows %}<span class="ms-2">+</span>{% endif %}
  </summary>
  {% include 'partials/supervision_row_content.html' with row=group.function %}
  {% if group.show_subs and group.subrows %}
  <div class="ms-4 space-y-4 mt-2">
    {% for sub in group.subrows %}
      {% include 'partials/supervision_row.html' with row=sub %}
    {% endfor %}
  </div>
  {% endif %}
</details>
