{% extends 'admin_base.html' %}
{% block title %}{% if object %}Regel bearbeiten{% else %}Neue Regel{% endif %}{% endblock %}
{% block admin_content %}
<h1 class="text-2xl font-semibold mb-4">{% if object %}Regel bearbeiten{% else %}Neue Regel{% endif %}</h1>
<form method="post" class="space-y-4">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.field_name.label_tag }}<br>
        {{ form.field_name }}
        {{ form.field_name.errors }}
    </div>
    <div>
        {{ form.aliases.label_tag }}<br>
        {{ form.aliases }}
        {{ form.aliases.errors }}
    </div>
    <div>
        {{ form.ordering.label_tag }}<br>
        {{ form.ordering }}
        {{ form.ordering.errors }}
    </div>
    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Speichern</button>
</form>
{% endblock %}
