@config "../tailwind.config.js";
@custom-variant dark (&:where(.dark &));
@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e40af;
  --color-background: #ffffff;
  --color-background-dark: #1e293b;
  --color-header: #0d1b2a;
  --color-text: #0f172a;
  --color-text-light: #f8fafc;
  --color-accent: #2563eb;
  --color-accent-light: #3b82f6;
  --color-accent-dark: #1e40af;
  --color-success: #059669;
  --color-success-dark: #047857;
  --color-error: #e11d48;
  --color-error-light: #ffe4e6;
  --color-error-lighter: #fecdd3;
  --color-error-dark: #be123c;
  --color-warning: #facc15;
  --color-warning-dark: #eab308;
}

@import "./components.css";

html.dark {
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-light);
}

@layer components {
  .sidebar {
    @apply fixed inset-y-0 left-0 z-40 w-64 transform transition-transform -translate-x-full md:relative md:translate-x-0 md:transform-none bg-background border-r text-text dark:bg-background-dark dark:text-text-light;
  }
  .sidebar-overlay {
    @apply fixed inset-0 bg-black/50 z-30 hidden;
  }
  .sidebar-overlay-active {
    @apply block;
  }
  .active-nav-link {
    @apply bg-accent text-text-light font-semibold;
  }
}

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
