{% extends 'base.html' %}

{% block title %}Startseite - NEOMIND Assistant{% endblock %}

{% block content %}
<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <a href="{% url 'work' %}" class="group block rounded-lg overflow-hidden shadow-lg transform transition duration-300 hover:scale-105">
        {% if work_area and work_area.image %}
        <img src="{{ work_area.image.url }}" class="h-48 w-full object-cover" alt="{{ work_area.name }}">
        {% else %}
        <div class="h-48 bg-gradient-to-r from-primary to-primary-dark text-background flex items-center justify-center">
            <i class="fa-solid fa-briefcase text-background text-5xl"></i>
        </div>
        {% endif %}
        <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Arbeitsassistent</h3>
            <p class="">Helfer für effizientes Zeit- und Projektmanagement.</p>
        </div>
    </a>
    <a href="{% url 'personal' %}" class="group block rounded-lg overflow-hidden shadow-lg transform transition duration-300 hover:scale-105">
        {% if personal_area and personal_area.image %}
        <img src="{{ personal_area.image.url }}" class="h-48 w-full object-cover" alt="{{ personal_area.name }}">
        {% else %}
        <div class="h-48 bg-gradient-to-r from-primary to-primary-dark text-background flex items-center justify-center">
            <i class="fa-solid fa-user text-background text-5xl"></i>
        </div>
        {% endif %}
        <div class="p-4">
            <h3 class="text-xl font-semibold mb-2">Persönlicher Bereich</h3>
            <p class="">Gedankenorganisation mit intelligenter Sprachaufzeichnung und einem digitalen Tagebuch.</p>
        </div>
    </a>
</div>
{% endblock %}
